* {
  box-sizing: border-box;
}

/* Pozadí */
body {
  background: linear-gradient(#615dad, #ffc8da);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* Hlavní sekce */
.hlavni {
  background-color: #283e50;
  color: #ffffff;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  overflow: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 20px;
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 10px;
  padding-bottom: 20px;
  justify-content: center;
}

/* Tlačítka */
.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

.menu a {
  list-style: none;
  text-decoration: none;
  height: 50px;
  padding-top: 15px;
}

.pravidla {
  background-color: #1fcca4;
  color: #ffffff;
  margin-bottom: 1px;
}

.hra {
  background-color: #0197f6;
  color: #ffffff;
}

.menu a.pravidla:hover {
  background-color: #1cbb96;
}

.menu a.hra:hover {
  background-color: #0090e9;
}
