* {
  box-sizing: border-box;
}

/* Pozadí */
body {
  background: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
}

/* Hlavní sekce */

.hlavni {
  width: 340px;
}
.hlavni,
.pravidla {
  background-color: #283e50;
  color: #ffffff;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-width: 200px;
}

.ctyrlistek__img {
  width: 100%;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}

.piskvorky__text,
li,
.pravidla__ukazka {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1.5;
  margin: 10px;
  padding-bottom: 20px;
}

/* Tlačítka */
.menu,
.pravidla__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.menu a,
.pravidla__menu a {
  list-style: none;
  text-decoration: none;
  height: 50px;
  padding-top: 15px;
}

.pravidla__btn,
.uvod__btn,
.uvod__btn--home {
  background-color: #1fcca4;
  color: #ffffff;
  margin-bottom: 1px;
}

.hra__btn,
.hra__btn--restart {
  background-color: #0197f6;
  color: #ffffff;
}

.menu a.pravidla__btn:hover,
.pravidla__menu a.uvod__btn:hover,
.uvod__btn--home:hover {
  background-color: #1cbb96;
}

.menu a.hra__btn:hover,
.pravidla__menu a.hra__btn:hover,
.hra__btn--restart:hover {
  background-color: #0090e9;
}

/* pravidla */

.pravidla__seznam {
  padding-top: 5px;
}

li {
  padding: 1px 40px 2px 1px;
  margin-left: 30px;
  text-align: left;
}

.kolecko,
.krizek,
#symbol {
  width: 1em;
  height: 1em;
  filter: invert(100%);
  vertical-align: -0.1em;
}

.obrazky {
  margin: 20px;
}

.pravidla__popisek {
  font-style: italic;
  padding: 10px 13px;
  font-size: 0.9em;
  text-align: center;
}

/* media query */

img {
  width: 100%;
}

@media (min-width: 576px) {
  .obrazky {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .pravidla__ukazka {
    width: 45%;
  }
}

@media (min-width: 630px) {
  .pravidla {
    max-width: 630px;
  }
}

/* hra  */
.hra {
  margin: 50px auto;
  background-color: inherit;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  max-width: 80vmin;
  min-width: 250px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

/* legenda - kdo hraje */

.lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* legenda - ikony */

.hra__ikony {
  display: flex;
}

.img__home,
.img__restart {
  height: 40px;
  display: flex;
  justify-content: center;
  width: auto;
  padding: 7px;
}

.uvod__btn--home,
.hra__btn--restart {
  border-radius: 10%;
  height: 40px;
}

.uvod__btn--home {
  margin-right: 5px;
}

/* hrací pole */
.hra__pole {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
  width: 100%;
  border: 1px solid black;
}

.hra__pole button {
  width: calc(100% / 10);
  flex-grow: 1;
  height: 7vmin;
  border: 1px solid black;
  background-color: #d4c6d4aa;
}

.hra__pole button:hover,
.hra__pole button:focus {
  cursor: pointer;
}

.board__field--circle {
  background-image: url(obrazky/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  animation-name: be-bigger;
  animation-duration: 0.15s;
}

.board__field--cross {
  background-image: url(obrazky/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  animation-name: be-bigger;
  animation-duration: 0.15s;
}

@keyframes be-bigger {
  from {
    background-size: 0%;
  }
  to {
    background-size: 65%;
  }
}
